<table>
  <tbody>
    <tr>
      <td height="<%- config.styles.height -%>" style="font-size:<%- config.styles.height -%>px;line-height:<%- config.styles.height -%>px;">&nbsp;</td>
    </tr>
  </tbody>
</table>
